# Tuplu in Python

In [5]:
# Un tiplu este similar listei si poate fi folosit pentru a defini compact orice tip de elemente

t = ("Bucuresti", 4.953, 3)

print(t)
print(t[0])

print(len(t))

('Bucuresti', 4.953, 3)
Bucuresti
3

# Parcurgeri si operatii

In [7]:
for item in t:
    print(item)

Bucuresti
4.953
3

In [8]:
t + (338186.0, 264e9)

('Bucuresti', 4.953, 3, 338186.0, 264000000000.0)

In [9]:
t * 3

('Bucuresti', 4.953, 3, 'Bucuresti', 4.953, 3, 'Bucuresti', 4.953, 3)

# Tuplul = poate sa contina orice tip de obiecte

In [11]:
h = (391)
print(h)

print(type(h))

391
<class 'int'>

In [14]:
k = (391,) # dupa cum se observa este diferit fata de cel de sus
print(k)

print(type(k))

(391,)
<class 'tuple'>

In [15]:
# se creeaza un tuplu gol

e = ()

print(e)

print( type(e))

()
<class 'tuple'>

In [16]:
5 in (3, 5, 17, 257, 65537) # se verifica daca valoarea 5
                            #se gaseste in tuplu si stabileste val de adev

True

In [17]:
5 not in (3, 5, 17, 257, 65537)

False

# La fel ca la lista, putem aplica toate celelalte operatii in afara de schimbare/stergere a unui element deoarece tuplul e immutable

In [18]:
k = (3, 5, 17, 257, 65537)

k.remove(3)

print(k)

AttributeError: 'tuple' object has no attribute 'remove'

In [19]:
del k[3]

TypeError: 'tuple' object doesn't support item deletion

In [20]:
k.discard(3)

AttributeError: 'tuple' object has no attribute 'discard'

In [1]:
t = (1, 3, 5)
t[2] = 4 # tuple is immutable, so this will give error

print(t)

TypeError: 'tuple' object does not support item assignment

In [2]:
a = {5, 6, 7}
b = {7, 8, 9, 10}
print(a.union(b))

{5, 6, 7, 8, 9, 10}